@model EmployeeApp.ViewModels.EmployeeListViewModel

@{
    ViewData["Title"] = "Delete Employee";
}

@if (ViewBag.Message != null)
{
    <h4>@ViewBag.Message</h4>
}else {

<h3>Are you sure you want to delete this?</h3>
}
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlySalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlySalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfWorkplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfWorkplace)
        </dd>
    </dl>
    
    <form asp-action="DeleteEmployee">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListEmployee">Back to List</a>
    </form>
</div>
